*{
    margin: 0;
    padding: 0;

}

body{
    background: #351e92;
}

h2{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Lexend Deca', sans-serif;
}

.main{
    background: #6448d5;
    margin: 250px;
    border-radius:10px
}

.texto{
    max-width: 450px;
    display: inline-block;
    margin: 0;
    padding: 60px;
}

.texto span{
    color: #fff;
}

ul li{
    list-style: none;
}

ul{
    display: inline;
}

li{
    display: inline;
}

.name{
    display: block;
}

.uno{
    display: inline-block;
    margin-right: 30px;
}

.datos{
    margin-top: 50px;
}

.info{
    color: #fff;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

img{
    float: right;
    position: relative;
    top: -375px;
    height: 375px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}







@media only screen  and (max-width: 770px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        background: #351e92;
    }
    
    h2{
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
    
    p{
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .main{
        background: #6448d5;
        display: block;
        max-width: 500px;
    }
    
    .texto{
    width: 350px;
    display: block;
    position: relative;
    max-height: 400px;
    right: 100px;
    left: -230px;
    top: -200px;
    background: #6448d5;
    padding: 0;
    border-radius: 10px;

    }
    
    .texto span{
        color: #fff;
    }
    
    ul li{
        list-style: none;
    }
    
    ul{
        display: block;
    }
    
    li{
        display: block;
    }
    
    .name{
        display: block;
    }
    
    .uno{
    display: block;
    padding-bottom: 10px;
    position: relative;
    left: 140px;
    width: 50px;
    }
    
    .datos{

    }
    
    .info{
        color: #fff;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }
    
    img{
        width: 350px;
        height: 150px;
        position: relative;
        top: -200px;
        left: 120px;
        border-radius: 10px;
    }
    

}